@import 'theme/_colors.scss';

body {
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
  color: $font-color;
  cursor: pointer;
  text-align: center;
}

button:focus {
  outline: none;
}